<body>
	<div class="container-fluid">
		<div class="header">
			<h2>Contacting Microverse Scooters</h2>
		</div>
		<div class="row">
		<div class="col-md-6">
			<p><span class="glyphicon glyphicon-phone"></span>: (802)535-7841</p>
			<p><span class="glyphicon glyphicon-envelope"></span>: D_Jeffrey87@yahoo.com</p>
		</div>
		<%= flash[:notice] %>
		<%= form_with(url: "/static_pages/thank_you") do |form| %>
				<div class="col-md-6">
					<div class="form-group">
						<%= form.label :name %>
						<%= form.text_field :name, class: "form-control", placeholder: "Enter Name" %>
					</div>
					<div class="form-group">
						<%= form.label :email, "Email Address" %>
						<%= form.text_field :email, class: "form-control", placeholder: "Enter Email" %>
					</div>
					<div class="form-group">
						<%= form.label :message %>
						<%= form.text_area :message, class: "form-control", placeholder: "Enter Message" %>
					</div>
					<%= form.submit "Send" %>
					<% end %>
				</div>
			</div>
	</div>
</body>