<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div class="container-fluid">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-2 col-md-4">
        <a href="#"><%= product.name %></a>
        <%= product.description %>
        <%= image_tag(product.image_url, class: "img-responsive") %>
        <%= product.color %>
        <%= product.price %>
      </div><!-- /col -->
    <% end %>
  </div>
</div>

<%= link_to 'New Product', new_product_path %>
